$nav-background: #13264d;
$background: #07142d;
$text-color: #fff;
$button: #3DBCA1;

body {
    margin: 0;
    padding: 0;
    background: $background;
}

nav {
    background: $nav-background;
    height: 70px;

    .logo {
        height: 40px;
        width: 40px;
        margin-top: 12px;
    }

    span {
        font-size: 34px;
    }

    .menu1 {
        font-size: large;
        margin: 20px 0px 0px 500px;
        padding-bottom: 13px;
        border-bottom: 3px solid $text-color;
        font-family: 'Sofia Pro';
    }

    .menu {
        font-size: large;
        margin: 20px 0px 0px 15px;
        font-family: 'Sofia Pro';
    }

    .buttons {
        border-radius: 8%;
        height: 40px;
        margin: 15px 0 0 15px;
    }
}

.ellipse {
    height: 650px;
    width: 100%;

    .ellipse1 {
        height: 500px;
        width: 100%;
        margin: 5% auto;
        position: absolute;
    }

    .ellipse2 {
        height: 400px;
        width: 100%;
        margin: 8.5% 0;
        position: absolute;
    }

    .ellipse3 {
        height: 300px;
        width: 100%;
        margin: 12% 0;
        position: absolute;
    }

    .ellipse4 {
        height: 200px;
        width: 100%;
        margin: 16% 0;
        position: absolute;
    }

    .blue {
        position: absolute;
        margin: 3.9% 0 0 53%;
        animation: blu 15s;
        animation-iteration-count: infinite;

        @keyframes blu {
            0% {
                transform: translate(0px, 0px) rotate(0deg);
            }

            100% {
                transform: translate(0px, 0px) rotate(360deg);
            }
        }
    }


    .pink {
        position: absolute;
        margin: 40.2% 0 0 48%;

        animation: pin 15s;
        animation-iteration-count: infinite;

        @keyframes pin {
            0% {
                transform: translate(0px, 0px) rotate(0deg);
            }

            100% {
                transform: translate(0px, 0px) rotate(360deg);
            }
        }
    }
}

.plantext {
    position: absolute;
    color: $text-color;
    // border: 1px solid white;
    width: 1000px;
    margin: 140px 0 0 200px;

    h1 {
        font-size: 50px;
    }

    .planp {
        font-size: 19px;
    }

    .btn1 {
        background: $button;
        color: $text-color;
        font-family: 'Sofia Pro';
    }

    .roboimg {
        position: absolute;
        height: 225px;
        left: 700px;
        top: -30px;
        z-index: 10;
        animation-name: robo;
        animation-duration: 5s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    @keyframes robo {
        from {

            top: -25px;
        }

        to {

            top: -100px;
        }
    }

    h2 {
        color: #FFC727;
        font-family: 'Sofia Pro';
        font-style: normal;
        position: absolute;
        top: 190px;
        left: 710px;
    }

    .rop {
        color: $text-color;
        font-family: 'Sofia Pro';
        font-style: normal;
        position: absolute;
        top: 225px;
        left: 745px;
    }
}

.slider {
    .slider2 {
        .slide2heading {
            text-align: center;
            color: $text-color;
            font-family: 'Sofia Pro';
            font-style: normal;
            font-size: 50px;
        }

        p {
            text-align: center;
            color: $button;
            font-family: 'Sofia Pro';
            font-style: normal;
            font-size: 23px;
        }
    }

    .a {
        position: absolute;
        margin-top: 15px;
        margin-left: -100px;
    }

    .btn1 {
        background: $button;
        color: $text-color;
        font-family: 'Sofia Pro';
    }
}

.slider3 {
    .sliderhe {
        .slide3heading {
            text-align: center;
            color: $text-color;
            font-family: 'Sofia Pro';
            font-style: normal;
            font-size: 50px;
            margin-top: 100px;
        }
    }

    .astro {
        height: 100px;
        width: 100px;
        position: absolute;
        margin: 30px 0 0 50px;
        animation: astro 15s;
        animation-iteration-count: infinite;
    }

    @keyframes astro {
        0% {
            transform: translate(1px, 1px) rotate(0deg);
        }

        10% {
            transform: translate(-1px, -2px) rotate(-10deg);
        }

        20% {
            transform: translate(-3px, 0px) rotate(10deg);
        }

        30% {
            transform: translate(3px, 2px) rotate(0deg);
        }

        40% {
            transform: translate(1px, -1px) rotate(10deg);
        }

        50% {
            transform: translate(-1px, 2px) rotate(-10deg);
        }

        60% {
            transform: translate(-3px, 1px) rotate(0deg);
        }

        70% {
            transform: translate(3px, 1px) rotate(-10deg);
        }

        80% {
            transform: translate(-1px, -1px) rotate(10deg);
        }

        90% {
            transform: translate(1px, 2px) rotate(0deg);
        }

        100% {
            transform: translate(1px, -2px) rotate(-10deg);
        }
    }

    .astroflight {
        height: 200px;
        width: 195px;
        margin: -35px 0 40px 0;
        animation: shake 3s;
        animation-iteration-count: infinite;
    }

    @keyframes shake {
        0% {
            transform: translate(1px, -2px) rotate(-1deg);
        }

        50% {
            transform: translate(-1px, 2px) rotate(-1deg);
        }

        100% {
            transform: translate(1px, 1px) rotate(0deg);
        }
    }

    .line {
        height: 1495px;
        margin: 108px 0 0 90px;
    }

    .box1 {
        p {
            margin-top: 60px;
            padding: 0 22%;
            font-family: 'Sofia Pro';
            font-style: normal;
            font-weight: 500;
            font-size: 23px;
            line-height: 28px;
            word-spacing: 5px;
        }

        .stl1img {
            position: absolute;
            margin: 120px 0 0 40px;
        }

        .lemob1 {
            margin: 25px 0 0 45px;
            height: 600px;
        }

        .stl2img {
            margin: 100px 0 0 50px;
        }

        .lemob2 {
            margin: 25px 0 0 40px;
            height: 600px;
        }

    }

    .box2 {
        .str1img {
            float: right;
            margin: 300px 80px 0 0px;
        }

        p {
            margin-top: 420px;
            padding: 0 14%;
            font-family: 'Sofia Pro';
            font-style: normal;
            font-weight: 500;
            font-size: 23px;
            line-height: 28px;
            word-spacing: 5px;
        }

        .remob1 {

            .remob1top {
                margin: 30px 0px 0px 80px;
                height: 600px;
            }

            .remob1bot {
                margin: -160px -100px 0px 0px;
            }
        }

        .str2img {
            margin: -300px 0 0 65px;
        }

        .message {
            position: absolute;
            margin: 360px 0 0 -590px;
        }
    }
}

.slider4 {
    .slider4he {
        .slide4heading {
            text-align: center;
            color: $text-color;
            font-family: 'Sofia Pro';
            font-style: normal;
            font-size: 50px;
            margin-top: 70px;
        }

        .stl3 {
            position: absolute;
            margin: 0 0 0 30px;
        }
    }

    .st1 {
        .stubox1 {
            height: 250px;
            margin-top: 70px;
        }

        .stimg1 {
            height: 140px;
            margin-top: 45px;
        }

        h3 {
            color: $text-color;
            font-family: 'Sofia Pro';
            margin-left: 25px;
        }

        p {
            font-family: 'Sofia Pro';
            width: 370px;
            font-size: 18px;
            line-height: 23px;
            color: $text-color;
            margin-left: 25px;
        }
    }

    .str3 {
        margin: 50px 0px 30px 1150px;
    }

    .st2 {
        text-align: right;

        .stimg2 {
            height: 140px;
        }

        h3 {
            color: $text-color;
            font-family: 'Sofia Pro';
            margin-right: 25px;
        }

        p {
            font-family: 'Sofia Pro';
            width: 370px;
            font-size: 18px;
            line-height: 23px;
            color: $text-color;
            float: right;
            margin-right: 25px;
        }

        .stubox2 {
            height: 250px;
            margin-top: 45px;
        }
    }

    .stl4 {
        margin: 50px 0px 30px 50px;
    }

    .st3 {
        .stubox3 {
            height: 250px;
            margin-top: 45px;
        }

        .stimg3 {
            height: 140px;
        }

        h3 {
            color: $text-color;
            font-family: 'Sofia Pro';
            margin-left: 25px;
        }

        p {
            font-family: 'Sofia Pro';
            width: 370px;
            font-size: 18px;
            line-height: 23px;
            color: $text-color;
            margin-left: 25px;
        }
    }

    .str4 {
        margin: 50px 0px 30px 1150px;
    }

    .st4 {
        text-align: right;

        .stimg4 {
            height: 140px;
        }

        h3 {
            color: $text-color;
            font-family: 'Sofia Pro';
            margin-right: 25px;
        }

        p {
            font-family: 'Sofia Pro';
            width: 370px;
            font-size: 18px;
            line-height: 23px;
            color: $text-color;
            float: right;
            margin-right: 25px;
        }

        .stubox4 {
            height: 250px;
            margin-top: 45px;
        }
    }

    .btn1 {
        background: $button;
        color: $text-color;
        font-family: 'Sofia Pro';
        font-size: 19px;
        margin: 80px 0 50px 0;
    }

}

.slide5 {
    .slider5he {
        .slide5heading {
            text-align: center;
            font-family: 'Sofia Pro';
            font-size: 50px;
            margin-top: 100px;
            color: $button;
        }

        h6 {
            text-align: center;
            font-family: 'Sofia Pro';
            color: $text-color;
            font-size: 30px;
        }
    }

    .coimg1 {
        margin-top: 70px;

        .st5img1 {
            height: 160px;
            width: 450px;
        }

        p {
            color: $button;
            position: absolute;
            font-size: 14px;
            margin: -32px 0 0 370px;
        }

        .st5img2 {
            height: 140px;
            margin: 10px 0px;
            width: 450px;
        }

        .st5img3 {
            height: 160px;
            width: 450px;
        }
    }

    .coimg2 {
        margin-top: 55px;

        .st5img4 {
            height: 252px;
            width: 450px;
        }

        .st5img5 {
            height: 158px;
            width: 450px;
        }

        p {
            color: #FC7A42;
            position: absolute;
            margin: -32px 0 0 20px;
            font-size: 14px;
        }

        .st5img6 {
            height: 70px;
            margin-top: 10px;
        }
    }

    .leftaro {
        position: absolute;
        margin: 290px 0 0 70px;
    }

    .rightaro {
        position: absolute;
        margin: 290px 0 0 70px;
    }

    .slider5twobox {
        margin-top: 150px;

        .pro {
            height: 505px;
            width: 405px;
        }
        .stl1 {
            margin: 0px 0 0 40px;
        }

        .st11 {
            margin: 170px 0 0 20px;
        }

        .Capture {
            margin-top: 90px;
            animation-name: Captu;
            animation-duration: 5s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes Captu {
            from {

                top: 90px;
            }

            to {

                top: 0px;
            }
        }

        

        .proplus {
            height: 500px;
            width: 400px;
        }

        .btn2 {
            color: #961e54;
            margin: -40px 0 0 120px;
        }

        .btn3 {
            color: #961e54;
            margin: -40px 0 0 140px;
        }

        .para {
            text-decoration: underline;
            color: $button;
            margin-top: -17px;
        }

        .but4 {
            color: $text-color;
            background: $button;
            width: 200px;
            margin-left: 580px;
        }

    }

    .slider5threebox {
        .coach {
            height: 450px;
            margin: 70px 0 90px 200px;
        }
    }

}

.slide6 {
    .slider6he {
        .slide6heading {
            text-align: center;
        }
    }

    .box1 {
        height: 200px;
        width: 200px;
    }

    .box1t {
        position: absolute;
        height: 150px;
        width: 150px;
        margin: 30px 0 0 -172px;
    }

    .box2 {
        height: 130px;
        margin-top: 36px;
    }

    .box3text {
        position: absolute;
        margin: 60px 0 0 20px;

        .user {
            margin: -30px 0 0 100px;
        }
    }

    .bgbox {
        width: 200px;
        margin-left: 12px;
    }

    .bgbox1 {
        width: 200px;
        margin-left: 5px;
    }

    .bgbox2 {
        width: 200px;
        margin-left: -5px;
    }

    .bgbox4 {
        width: 200px;
        margin-left: -15px;
    }
}

.slide7 {
    text-align: center;

    h1 {
        text-align: center;
        font-family: 'Sofia Pro';
        font-size: 40px;
        margin-top: 80px;
        color: $text-color;
    }

    .teme1 {
        height: 250px;
    }

    .bun5 {
        color: $text-color;
        background: $button;
        margin: 80px 0;
    }

}

.hr {
    color: $button;
    background: $button;
    height: 3px !important;
    opacity: 100%;
}

.socicon {
    height: 45px;
    margin-top: 170px;
}

.footer {
    background: #132549;
    font-size: 12px;
    color: gray;
}