body {
  margin: 0;
  padding: 0;
  background: #07142d;
}

nav {
  background: #13264d;
  height: 70px;
}
nav .logo {
  height: 40px;
  width: 40px;
  margin-top: 12px;
}
nav span {
  font-size: 34px;
}
nav .menu1 {
  font-size: large;
  margin: 20px 0px 0px 500px;
  padding-bottom: 13px;
  border-bottom: 3px solid #fff;
  font-family: "Sofia Pro";
}
nav .menu {
  font-size: large;
  margin: 20px 0px 0px 15px;
  font-family: "Sofia Pro";
}
nav .buttons {
  border-radius: 8%;
  height: 40px;
  margin: 15px 0 0 15px;
}

.ellipse {
  height: 650px;
  width: 100%;
}
.ellipse .ellipse1 {
  height: 500px;
  width: 100%;
  margin: 5% auto;
  position: absolute;
}
.ellipse .ellipse2 {
  height: 400px;
  width: 100%;
  margin: 8.5% 0;
  position: absolute;
}
.ellipse .ellipse3 {
  height: 300px;
  width: 100%;
  margin: 12% 0;
  position: absolute;
}
.ellipse .ellipse4 {
  height: 200px;
  width: 100%;
  margin: 16% 0;
  position: absolute;
}
.ellipse .blue {
  position: absolute;
  margin: 3.9% 0 0 53%;
  animation: blu 15s;
  animation-iteration-count: infinite;
}
@keyframes blu {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(360deg);
  }
}
.ellipse .pink {
  position: absolute;
  margin: 40.2% 0 0 48%;
  animation: pin 15s;
  animation-iteration-count: infinite;
}
@keyframes pin {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(360deg);
  }
}

.plantext {
  position: absolute;
  color: #fff;
  width: 1000px;
  margin: 140px 0 0 200px;
}
.plantext h1 {
  font-size: 50px;
}
.plantext .planp {
  font-size: 19px;
}
.plantext .btn1 {
  background: #3DBCA1;
  color: #fff;
  font-family: "Sofia Pro";
}
.plantext .roboimg {
  position: absolute;
  height: 225px;
  left: 700px;
  top: -30px;
  z-index: 10;
  animation-name: robo;
  animation-duration: 5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes robo {
  from {
    top: -25px;
  }
  to {
    top: -100px;
  }
}
.plantext h2 {
  color: #FFC727;
  font-family: "Sofia Pro";
  font-style: normal;
  position: absolute;
  top: 190px;
  left: 710px;
}
.plantext .rop {
  color: #fff;
  font-family: "Sofia Pro";
  font-style: normal;
  position: absolute;
  top: 225px;
  left: 745px;
}

.slider .slider2 .slide2heading {
  text-align: center;
  color: #fff;
  font-family: "Sofia Pro";
  font-style: normal;
  font-size: 50px;
}
.slider .slider2 p {
  text-align: center;
  color: #3DBCA1;
  font-family: "Sofia Pro";
  font-style: normal;
  font-size: 23px;
}
.slider .a {
  position: absolute;
  margin-top: 15px;
  margin-left: -100px;
}
.slider .btn1 {
  background: #3DBCA1;
  color: #fff;
  font-family: "Sofia Pro";
}

.slider3 .sliderhe .slide3heading {
  text-align: center;
  color: #fff;
  font-family: "Sofia Pro";
  font-style: normal;
  font-size: 50px;
  margin-top: 100px;
}
.slider3 .astro {
  height: 100px;
  width: 100px;
  position: absolute;
  margin: 30px 0 0 50px;
  animation: astro 15s;
  animation-iteration-count: infinite;
}
@keyframes astro {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-10deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(10deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(10deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-10deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-10deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(10deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-10deg);
  }
}
.slider3 .astroflight {
  height: 200px;
  width: 195px;
  margin: -35px 0 40px 0;
  animation: shake 3s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  100% {
    transform: translate(1px, 1px) rotate(0deg);
  }
}
.slider3 .line {
  height: 1495px;
  margin: 108px 0 0 90px;
}
.slider3 .box1 p {
  margin-top: 60px;
  padding: 0 22%;
  font-family: "Sofia Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 28px;
  word-spacing: 5px;
}
.slider3 .box1 .stl1img {
  position: absolute;
  margin: 120px 0 0 40px;
}
.slider3 .box1 .lemob1 {
  margin: 25px 0 0 45px;
  height: 600px;
}
.slider3 .box1 .stl2img {
  margin: 100px 0 0 50px;
}
.slider3 .box1 .lemob2 {
  margin: 25px 0 0 40px;
  height: 600px;
}
.slider3 .box2 .str1img {
  float: right;
  margin: 300px 80px 0 0px;
}
.slider3 .box2 p {
  margin-top: 420px;
  padding: 0 14%;
  font-family: "Sofia Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 28px;
  word-spacing: 5px;
}
.slider3 .box2 .remob1 .remob1top {
  margin: 30px 0px 0px 80px;
  height: 600px;
}
.slider3 .box2 .remob1 .remob1bot {
  margin: -160px -100px 0px 0px;
}
.slider3 .box2 .str2img {
  margin: -300px 0 0 65px;
}
.slider3 .box2 .message {
  position: absolute;
  margin: 360px 0 0 -590px;
}

.slider4 .slider4he .slide4heading {
  text-align: center;
  color: #fff;
  font-family: "Sofia Pro";
  font-style: normal;
  font-size: 50px;
  margin-top: 70px;
}
.slider4 .slider4he .stl3 {
  position: absolute;
  margin: 0 0 0 30px;
}
.slider4 .st1 .stubox1 {
  height: 250px;
  margin-top: 70px;
}
.slider4 .st1 .stimg1 {
  height: 140px;
  margin-top: 45px;
}
.slider4 .st1 h3 {
  color: #fff;
  font-family: "Sofia Pro";
  margin-left: 25px;
}
.slider4 .st1 p {
  font-family: "Sofia Pro";
  width: 370px;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
  margin-left: 25px;
}
.slider4 .str3 {
  margin: 50px 0px 30px 1150px;
}
.slider4 .st2 {
  text-align: right;
}
.slider4 .st2 .stimg2 {
  height: 140px;
}
.slider4 .st2 h3 {
  color: #fff;
  font-family: "Sofia Pro";
  margin-right: 25px;
}
.slider4 .st2 p {
  font-family: "Sofia Pro";
  width: 370px;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
  float: right;
  margin-right: 25px;
}
.slider4 .st2 .stubox2 {
  height: 250px;
  margin-top: 45px;
}
.slider4 .stl4 {
  margin: 50px 0px 30px 50px;
}
.slider4 .st3 .stubox3 {
  height: 250px;
  margin-top: 45px;
}
.slider4 .st3 .stimg3 {
  height: 140px;
}
.slider4 .st3 h3 {
  color: #fff;
  font-family: "Sofia Pro";
  margin-left: 25px;
}
.slider4 .st3 p {
  font-family: "Sofia Pro";
  width: 370px;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
  margin-left: 25px;
}
.slider4 .str4 {
  margin: 50px 0px 30px 1150px;
}
.slider4 .st4 {
  text-align: right;
}
.slider4 .st4 .stimg4 {
  height: 140px;
}
.slider4 .st4 h3 {
  color: #fff;
  font-family: "Sofia Pro";
  margin-right: 25px;
}
.slider4 .st4 p {
  font-family: "Sofia Pro";
  width: 370px;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
  float: right;
  margin-right: 25px;
}
.slider4 .st4 .stubox4 {
  height: 250px;
  margin-top: 45px;
}
.slider4 .btn1 {
  background: #3DBCA1;
  color: #fff;
  font-family: "Sofia Pro";
  font-size: 19px;
  margin: 80px 0 50px 0;
}

.slide5 .slider5he .slide5heading {
  text-align: center;
  font-family: "Sofia Pro";
  font-size: 50px;
  margin-top: 100px;
  color: #3DBCA1;
}
.slide5 .slider5he h6 {
  text-align: center;
  font-family: "Sofia Pro";
  color: #fff;
  font-size: 30px;
}
.slide5 .coimg1 {
  margin-top: 70px;
}
.slide5 .coimg1 .st5img1 {
  height: 160px;
  width: 450px;
}
.slide5 .coimg1 p {
  color: #3DBCA1;
  position: absolute;
  font-size: 14px;
  margin: -32px 0 0 370px;
}
.slide5 .coimg1 .st5img2 {
  height: 140px;
  margin: 10px 0px;
  width: 450px;
}
.slide5 .coimg1 .st5img3 {
  height: 160px;
  width: 450px;
}
.slide5 .coimg2 {
  margin-top: 55px;
}
.slide5 .coimg2 .st5img4 {
  height: 252px;
  width: 450px;
}
.slide5 .coimg2 .st5img5 {
  height: 158px;
  width: 450px;
}
.slide5 .coimg2 p {
  color: #FC7A42;
  position: absolute;
  margin: -32px 0 0 20px;
  font-size: 14px;
}
.slide5 .coimg2 .st5img6 {
  height: 70px;
  margin-top: 10px;
}
.slide5 .leftaro {
  position: absolute;
  margin: 290px 0 0 70px;
}
.slide5 .rightaro {
  position: absolute;
  margin: 290px 0 0 70px;
}
.slide5 .slider5twobox {
  margin-top: 150px;
}
.slide5 .slider5twobox .pro {
  height: 505px;
  width: 405px;
}
.slide5 .slider5twobox .stl1 {
  margin: 0px 0 0 40px;
}
.slide5 .slider5twobox .st11 {
  margin: 170px 0 0 20px;
}
.slide5 .slider5twobox .Capture {
  margin-top: 90px;
  animation-name: Captu;
  animation-duration: 5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes Captu {
  from {
    top: 90px;
  }
  to {
    top: 0px;
  }
}
.slide5 .slider5twobox .proplus {
  height: 500px;
  width: 400px;
}
.slide5 .slider5twobox .btn2 {
  color: #961e54;
  margin: -40px 0 0 120px;
}
.slide5 .slider5twobox .btn3 {
  color: #961e54;
  margin: -40px 0 0 140px;
}
.slide5 .slider5twobox .para {
  text-decoration: underline;
  color: #3DBCA1;
  margin-top: -17px;
}
.slide5 .slider5twobox .but4 {
  color: #fff;
  background: #3DBCA1;
  width: 200px;
  margin-left: 580px;
}
.slide5 .slider5threebox .coach {
  height: 450px;
  margin: 70px 0 90px 200px;
}

.slide6 .slider6he .slide6heading {
  text-align: center;
}
.slide6 .box1 {
  height: 200px;
  width: 200px;
}
.slide6 .box1t {
  position: absolute;
  height: 150px;
  width: 150px;
  margin: 30px 0 0 -172px;
}
.slide6 .box2 {
  height: 130px;
  margin-top: 36px;
}
.slide6 .box3text {
  position: absolute;
  margin: 60px 0 0 20px;
}
.slide6 .box3text .user {
  margin: -30px 0 0 100px;
}
.slide6 .bgbox {
  width: 200px;
  margin-left: 12px;
}
.slide6 .bgbox1 {
  width: 200px;
  margin-left: 5px;
}
.slide6 .bgbox2 {
  width: 200px;
  margin-left: -5px;
}
.slide6 .bgbox4 {
  width: 200px;
  margin-left: -15px;
}

.slide7 {
  text-align: center;
}
.slide7 h1 {
  text-align: center;
  font-family: "Sofia Pro";
  font-size: 40px;
  margin-top: 80px;
  color: #fff;
}
.slide7 .teme1 {
  height: 250px;
}
.slide7 .bun5 {
  color: #fff;
  background: #3DBCA1;
  margin: 80px 0;
}

.hr {
  color: #3DBCA1;
  background: #3DBCA1;
  height: 3px !important;
  opacity: 100%;
}

.socicon {
  height: 45px;
  margin-top: 170px;
}

.footer {
  background: #132549;
  font-size: 12px;
  color: gray;
}/*# sourceMappingURL=Figma_1.css.map */