.guest{
    table,tr,th{
        border: 2px solid gray;
        width: 700px;
    }
    table{
        margin-left: 30px;
    }
    th{
        text-align: center;
        height: 50px;
        background-color: #1b0e94;
        color: white;
    }
    td{
        border: 2px solid gray;
        height: 40px;
        width: 700px;
    }
  }
  .modalbody{
    overflow-y: scroll;
    height: 450px;
  
    hr{
        height: 3px;
        width: 550px;
        margin: 40px 0px 30px 120px;
    }
  }
  .w-50{
    .cancelbooking{
      background-color: #DD4132FF;
    }
    .Close{
      background-color: rgb(172, 11, 49);
    }
    .cancelbooking:hover{
      background-color: #DD4132FF;
    }
    .Close:hover{
      background-color: rgb(172, 11, 49);
    }
  }
  